# frozen_string_literal: true

# #SignWell Developer API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: v1
# Contact: support@signwell.com
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module SignWell
  module Resources
    class APIApplicationApi
      attr_accessor :api_client

      def initialize(api_client = ApiClient.default)
        @api_client = api_client
      end

      # Delete API Application
      # Deletes an API Application from an account. Supply the unique Application ID from either the Create API Application response or the API Application edit page
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [nil]
      def delete_api_application(id, opts = {})
        delete_api_application_with_http_info(id, opts)
        nil
      end

      # Delete API Application
      # Deletes an API Application from an account. Supply the unique Application ID from either the Create API Application response or the API Application edit page
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
      def delete_api_application_with_http_info(id, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: APIApplicationApi.delete_api_application ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          raise ArgumentError,
                "Missing the required parameter 'id' when calling APIApplicationApi.delete_api_application"
        end

        # resource path
        local_var_path = '/api/v1/api_applications/{id}'.sub('{id}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type]

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"APIApplicationApi.delete_api_application",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: APIApplicationApi#delete_api_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end

      # Get API Application
      # Gets the details of a specific API Application within an account. Supply the unique Application ID from either the Create API Application response or the API Application edit page.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [nil]
      def get_api_application(id, opts = {})
        get_api_application_with_http_info(id, opts)
        nil
      end

      # Get API Application
      # Gets the details of a specific API Application within an account. Supply the unique Application ID from either the Create API Application response or the API Application edit page.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
      def get_api_application_with_http_info(id, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: APIApplicationApi.get_api_application ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          raise ArgumentError, "Missing the required parameter 'id' when calling APIApplicationApi.get_api_application"
        end

        # resource path
        local_var_path = '/api/v1/api_applications/{id}'.sub('{id}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type]

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"APIApplicationApi.get_api_application",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: APIApplicationApi#get_api_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end
    end
  end
end
