=begin
#SignWell Developer API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1
Contact: support@signwell.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module SignWell
module Resources
  class BulkSendApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Bulk Send
    # Creates a bulk send, and it validates the CSV file before creating the bulk send.
    # @param create_bulk_send_request [Models::CreateBulkSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_bulk_send(create_bulk_send_request, opts = {})
      create_bulk_send_with_http_info(create_bulk_send_request, opts)
      nil
    end

    # Create Bulk Send
    # Creates a bulk send, and it validates the CSV file before creating the bulk send.
    # @param create_bulk_send_request [Models::CreateBulkSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_bulk_send_with_http_info(create_bulk_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkSendApi.create_bulk_send ...'
      end
      # verify the required parameter 'create_bulk_send_request' is set
      if @api_client.config.client_side_validation && create_bulk_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_bulk_send_request' when calling BulkSendApi.create_bulk_send"
      end
      # resource path
      local_var_path = '/api/v1/bulk_sends'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_bulk_send_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"BulkSendApi.create_bulk_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkSendApi#create_bulk_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bulk Send
    # Returns information about the Bulk Send.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_bulk_send(id, opts = {})
      get_bulk_send_with_http_info(id, opts)
      nil
    end

    # Get Bulk Send
    # Returns information about the Bulk Send.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_bulk_send_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkSendApi.get_bulk_send ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BulkSendApi.get_bulk_send"
      end
      # resource path
      local_var_path = '/api/v1/bulk_sends/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"BulkSendApi.get_bulk_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkSendApi#get_bulk_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bulk Send CSV Template
    # Fetches a CSV template that corresponds to the provided document template IDs. CSV templates are blank CSV files that have columns containing required and optional data that can be sent when creating a bulk send. Fields can be referenced by the field label. Example: [placeholder name]_[field label] could be something like customer_address or signer_company_name (if 'Customer' and 'Signer' were placeholder names for templates set up in SignWell).
    # @param template_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :base64 
    # @return [File]
    def get_bulk_send_csv_template(template_ids, opts = {})
      data, _status_code, _headers = get_bulk_send_csv_template_with_http_info(template_ids, opts)
      data
    end

    # Get Bulk Send CSV Template
    # Fetches a CSV template that corresponds to the provided document template IDs. CSV templates are blank CSV files that have columns containing required and optional data that can be sent when creating a bulk send. Fields can be referenced by the field label. Example: [placeholder name]_[field label] could be something like customer_address or signer_company_name (if &#39;Customer&#39; and &#39;Signer&#39; were placeholder names for templates set up in SignWell).
    # @param template_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :base64 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_bulk_send_csv_template_with_http_info(template_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkSendApi.get_bulk_send_csv_template ...'
      end
      # verify the required parameter 'template_ids' is set
      if @api_client.config.client_side_validation && template_ids.nil?
        fail ArgumentError, "Missing the required parameter 'template_ids' when calling BulkSendApi.get_bulk_send_csv_template"
      end
      # resource path
      local_var_path = '/api/v1/bulk_sends/csv_template'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'template_ids[]'] = @api_client.build_collection_param(template_ids, :multi)
      query_params[:'base64'] = opts[:'base64'] if !opts[:'base64'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"BulkSendApi.get_bulk_send_csv_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkSendApi#get_bulk_send_csv_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bulk Send Documents
    # Returns information about the Bulk Send.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 10)
    # @option opts [Integer] :page  (default to 1)
    # @return [nil]
    def get_bulk_send_documents(id, opts = {})
      get_bulk_send_documents_with_http_info(id, opts)
      nil
    end

    # Get Bulk Send Documents
    # Returns information about the Bulk Send.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 10)
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_bulk_send_documents_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkSendApi.get_bulk_send_documents ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BulkSendApi.get_bulk_send_documents"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BulkSendApi.get_bulk_send_documents, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BulkSendApi.get_bulk_send_documents, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BulkSendApi.get_bulk_send_documents, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/bulk_sends/{id}/documents'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"BulkSendApi.get_bulk_send_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkSendApi#get_bulk_send_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Bulk Sendings
    # Returns information about the Bulk Send.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_email 
    # @option opts [Integer] :limit  (default to 10)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :api_application_id 
    # @return [Models::BulkSendListResponse]
    def list_bulk_sends(opts = {})
      data, _status_code, _headers = list_bulk_sends_with_http_info(opts)
      data
    end

    # List Bulk Sendings
    # Returns information about the Bulk Send.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_email 
    # @option opts [Integer] :limit  (default to 10)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :api_application_id 
    # @return [Array<(Models::BulkSendListResponse, Integer, Hash)>] BulkSendListResponse data, response status code and response headers
    def list_bulk_sends_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkSendApi.list_bulk_sends ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BulkSendApi.list_bulk_sends, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BulkSendApi.list_bulk_sends, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BulkSendApi.list_bulk_sends, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/bulk_sends'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user_email'] = opts[:'user_email'] if !opts[:'user_email'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'api_application_id'] = opts[:'api_application_id'] if !opts[:'api_application_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkSendListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"BulkSendApi.list_bulk_sends",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkSendApi#list_bulk_sends\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Bulk Send CSV
    # Validates a Bulk Send CSV file before creating the Bulk Send. It will check the structure of the CSV and the data it contains, and return any errors found.
    # @param bulk_send_csv_request [Models::BulkSendCsvRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def validate_bulk_send_csv(bulk_send_csv_request, opts = {})
      validate_bulk_send_csv_with_http_info(bulk_send_csv_request, opts)
      nil
    end

    # Validate Bulk Send CSV
    # Validates a Bulk Send CSV file before creating the Bulk Send. It will check the structure of the CSV and the data it contains, and return any errors found.
    # @param bulk_send_csv_request [Models::BulkSendCsvRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def validate_bulk_send_csv_with_http_info(bulk_send_csv_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkSendApi.validate_bulk_send_csv ...'
      end
      # verify the required parameter 'bulk_send_csv_request' is set
      if @api_client.config.client_side_validation && bulk_send_csv_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_send_csv_request' when calling BulkSendApi.validate_bulk_send_csv"
      end
      # resource path
      local_var_path = '/api/v1/bulk_sends/validate_csv'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_send_csv_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"BulkSendApi.validate_bulk_send_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkSendApi#validate_bulk_send_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
end
