=begin
SignWell Developer API

API for creating, managing, and tracking electronic signature workflows.

The version of the OpenAPI document: v1
Contact: support@signwell.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module SignWell
  module Resources
    class DocumentApi
      attr_accessor :api_client

      def initialize(api_client = ApiClient.default)
        @api_client = api_client
      end
      # Create Document
      # Creates and optionally sends a new document for signing. If `draft` is set to true the document will not be sent.
      # @param document_request [Models::DocumentRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentResponse]
      def create_document(document_request, opts = {})
        data, _status_code, _headers = create_document_with_http_info(document_request, opts)
        data
      end

      # Create Document
      # Creates and optionally sends a new document for signing. If &#x60;draft&#x60; is set to true the document will not be sent.
      # @param document_request [Models::DocumentRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
      def create_document_with_http_info(document_request, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.create_document ...'
        end
        # verify the required parameter 'document_request' is set
        if @api_client.config.client_side_validation && document_request.nil?
          fail ArgumentError, "Missing the required parameter 'document_request' when calling DocumentApi.create_document"
        end
        # resource path
        local_var_path = '/api/v1/documents'

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        if !content_type.nil?
          header_params['Content-Type'] = content_type
        end

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(document_request)

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.create_document",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#create_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Create Document from Template
      # Creates and optionally sends a new document for signing. If `draft` is set to true the document will not be sent.
      # @param document_from_template_request [Models::DocumentFromTemplateRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentFromTemplateResponse]
      def create_document_from_template(document_from_template_request, opts = {})
        data, _status_code, _headers = create_document_from_template_with_http_info(document_from_template_request, opts)
        data
      end

      # Create Document from Template
      # Creates and optionally sends a new document for signing. If &#x60;draft&#x60; is set to true the document will not be sent.
      # @param document_from_template_request [Models::DocumentFromTemplateRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentFromTemplateResponse, Integer, Hash)>] DocumentFromTemplateResponse data, response status code and response headers
      def create_document_from_template_with_http_info(document_from_template_request, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.create_document_from_template ...'
        end
        # verify the required parameter 'document_from_template_request' is set
        if @api_client.config.client_side_validation && document_from_template_request.nil?
          fail ArgumentError, "Missing the required parameter 'document_from_template_request' when calling DocumentApi.create_document_from_template"
        end
        # resource path
        local_var_path = '/api/v1/document_templates/documents'

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        if !content_type.nil?
          header_params['Content-Type'] = content_type
        end

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(document_from_template_request)

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentFromTemplateResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.create_document_from_template",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#create_document_from_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Delete Document
      # Deletes a document. Deleting a document will also cancel document signing (if in progress).  Supply the unique document ID from either a Create Document request or document page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [nil]
      def delete_document(id, opts = {})
        delete_document_with_http_info(id, opts)
        nil
      end

      # Delete Document
      # Deletes a document. Deleting a document will also cancel document signing (if in progress).  Supply the unique document ID from either a Create Document request or document page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
      def delete_document_with_http_info(id, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.delete_document ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          fail ArgumentError, "Missing the required parameter 'id' when calling DocumentApi.delete_document"
        end
        # resource path
        local_var_path = '/api/v1/documents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type]

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.delete_document",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#delete_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Completed PDF
      # Gets a completed document PDF or ZIP file. Supply the unique document ID from either a document creation request or document page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @option opts [Boolean] :url_only  (default to false)
      # @option opts [Boolean] :audit_page  (default to true)
      # @option opts [FileFormat] :file_format
      # @return [Models::CompletedPdfUrlResponse or File]
      def get_completed_pdf(id, opts = {})
        data, _status_code, _headers = get_completed_pdf_with_http_info(id, opts)
        data
      end

      # Completed PDF
      # Gets a completed document PDF or ZIP file. Supply the unique document ID from either a document creation request or document page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @option opts [Boolean] :url_only  (default to false)
      # @option opts [Boolean] :audit_page  (default to true)
      # @option opts [FileFormat] :file_format
      # @return [Array<(Models::CompletedPdfUrlResponse or File, Integer, Hash)>] CompletedPdfUrlResponse or File data, response status code and response headers
      def get_completed_pdf_with_http_info(id, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.get_completed_pdf ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          fail ArgumentError, "Missing the required parameter 'id' when calling DocumentApi.get_completed_pdf"
        end
        # resource path
        local_var_path = '/api/v1/documents/{id}/completed_pdf'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}
        query_params[:'url_only'] = opts[:'url_only'] if !opts[:'url_only'].nil?
        query_params[:'audit_page'] = opts[:'audit_page'] if !opts[:'audit_page'].nil?
        query_params[:'file_format'] = opts[:'file_format'] if !opts[:'file_format'].nil?

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        unless header_params['Accept']
          if opts[:'url_only'] == true
            accept_types = ["application/json"]
          else
            accept_types = ["application/octet-stream"]
          end
          header_params['Accept'] = @api_client.select_header_accept(accept_types)
        end

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]



        # return_type
        return_type = opts[:debug_return_type] || begin
          if opts[:'url_only'] == true
            'CompletedPdfUrlResponse'
          else
            'File'
          end
        end

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.get_completed_pdf",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#get_completed_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Get Document
      # Returns a document and all associated document data. Supply the unique document ID from either a document creation request or Document page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentResponse]
      def get_document(id, opts = {})
        data, _status_code, _headers = get_document_with_http_info(id, opts)
        data
      end

      # Get Document
      # Returns a document and all associated document data. Supply the unique document ID from either a document creation request or Document page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
      def get_document_with_http_info(id, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.get_document ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          fail ArgumentError, "Missing the required parameter 'id' when calling DocumentApi.get_document"
        end
        # resource path
        local_var_path = '/api/v1/documents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.get_document",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#get_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Poll get_document until the document reaches a terminal status.
      def wait_for_completion(id, opts = {})
        helper_opts = opts.dup
        terminal_statuses = helper_opts.delete(:terminal_statuses) || [
          'Completed',
          'Manually completed',
          'Declined',
          'Canceled',
          'Bounced',
          'Blocked',
          'Error',
          'Expired'
        ]
        interval = helper_opts.delete(:interval) || 2.0
        timeout = helper_opts.delete(:timeout) || 120.0
        max_attempts = helper_opts.delete(:max_attempts)
        started_at = Process.clock_gettime(Process::CLOCK_MONOTONIC)
        attempts = 0
        last_document = nil

        loop do
          last_document = get_document(id, helper_opts)
          status = last_document.respond_to?(:status) ? last_document.status : nil
          return last_document if status.is_a?(String) && terminal_statuses.include?(status)

          attempts += 1
          elapsed = Process.clock_gettime(Process::CLOCK_MONOTONIC) - started_at
          if (!max_attempts.nil? && attempts >= max_attempts) || elapsed >= timeout
            raise Errors::WaitForCompletionTimeoutError.new('Timed out waiting for document completion.', last_document)
          end

          sleep [interval.to_f, 0.0].max
        end
      end

      # List Documents
      # Returns a paginated list of documents for the authenticated account.
      # @param [Hash] opts the optional parameters
      # @option opts [Integer] :page  (default to 1)
      # @option opts [Integer] :limit  (default to 10)
      # @option opts [String] :query Raw API filter query. Use AND between filters, for example: \&quot;name:Classic AND status:completed\&quot;.
      # @return [Models::DocumentListResponse]
      def list_documents(opts = {})
        data, _status_code, _headers = list_documents_with_http_info(opts)
        data
      end

      # List Documents
      # Returns a paginated list of documents for the authenticated account.
      # @param [Hash] opts the optional parameters
      # @option opts [Integer] :page  (default to 1)
      # @option opts [Integer] :limit  (default to 10)
      # @option opts [String] :query Raw API filter query. Use AND between filters, for example: \&quot;name:Classic AND status:completed\&quot;.
      # @return [Array<(Models::DocumentListResponse, Integer, Hash)>] DocumentListResponse data, response status code and response headers
      def list_documents_with_http_info(opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.list_documents ...'
        end
        if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
          fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DocumentApi.list_documents, must be greater than or equal to 1.'
        end

        if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
          fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentApi.list_documents, must be smaller than or equal to 50.'
        end

        if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
          fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentApi.list_documents, must be greater than or equal to 1.'
        end

        if @api_client.config.client_side_validation && !opts[:'query'].nil? && opts[:'query'].to_s.empty?
          fail ArgumentError, 'invalid value for "opts[:"query"]" when calling DocumentApi.list_documents, the character length must be great than or equal to 1.'
        end

        # resource path
        local_var_path = '/api/v1/documents'

        # query parameters
        query_params = opts[:query_params] || {}
        query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
        query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
        query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentListResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.list_documents",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#list_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Iterate over paginated list_documents responses.
      def iterate_document_pages(opts = {})
        return enum_for(:iterate_document_pages, opts) unless block_given?

        next_page = opts[:page] || 1
        loop do
          response = list_documents(opts.merge(page: next_page))
          yield response
          next_page = response.respond_to?(:next_page) ? response.next_page : nil
          break if next_page.nil?
        end
      end

      # Iterate over all list_documents items.
      def iterate_documents(opts = {}, &block)
        return enum_for(:iterate_documents, opts) unless block_given?

        iterate_document_pages(opts) do |page_response|
          Array(page_response.respond_to?(:documents) ? page_response.documents : []).each(&block)
        end
      end

      # Update and Send Document
      # Updates a draft document and sends it to be signed by recipients.
      # @param id [String]
      # @param update_document_and_send_request [Models::UpdateDocumentAndSendRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentResponse]
      def send_document(id, update_document_and_send_request, opts = {})
        data, _status_code, _headers = send_document_with_http_info(id, update_document_and_send_request, opts)
        data
      end

      # Update and Send Document
      # Updates a draft document and sends it to be signed by recipients.
      # @param id [String]
      # @param update_document_and_send_request [Models::UpdateDocumentAndSendRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
      def send_document_with_http_info(id, update_document_and_send_request, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.send_document ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          fail ArgumentError, "Missing the required parameter 'id' when calling DocumentApi.send_document"
        end
        # verify the required parameter 'update_document_and_send_request' is set
        if @api_client.config.client_side_validation && update_document_and_send_request.nil?
          fail ArgumentError, "Missing the required parameter 'update_document_and_send_request' when calling DocumentApi.send_document"
        end
        # resource path
        local_var_path = '/api/v1/documents/{id}/send'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        if !content_type.nil?
          header_params['Content-Type'] = content_type
        end

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(update_document_and_send_request)

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.send_document",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#send_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Alias for send_document.
      def update_document(id, update_document_and_send_request, opts = {})
        send_document(id, update_document_and_send_request, opts)
      end

      # Send Reminder
      # Sends a reminder email to recipients that have not signed yet.
      # @param id [String]
      # @param send_reminder_request [Models::SendReminderRequest]
      # @param [Hash] opts the optional parameters
      # @return [nil]
      def send_reminder(id, send_reminder_request, opts = {})
        send_reminder_with_http_info(id, send_reminder_request, opts)
        nil
      end

      # Send Reminder
      # Sends a reminder email to recipients that have not signed yet.
      # @param id [String]
      # @param send_reminder_request [Models::SendReminderRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
      def send_reminder_with_http_info(id, send_reminder_request, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.send_reminder ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          fail ArgumentError, "Missing the required parameter 'id' when calling DocumentApi.send_reminder"
        end
        # verify the required parameter 'send_reminder_request' is set
        if @api_client.config.client_side_validation && send_reminder_request.nil?
          fail ArgumentError, "Missing the required parameter 'send_reminder_request' when calling DocumentApi.send_reminder"
        end
        # resource path
        local_var_path = '/api/v1/documents/{id}/remind'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        if !content_type.nil?
          header_params['Content-Type'] = content_type
        end

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(send_reminder_request)

        # return_type
        return_type = opts[:debug_return_type]

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.send_reminder",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#send_reminder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end

      # Update Recipients
      # Updates one or more recipients on a document that has already been sent. Only recipients who have not started signing may be updated. Recipient IDs must be retrieved from the Get Document response. Allowed document statuses: sent, viewed, pending, bounced. For non-embedded documents, updated recipients will receive a new notification email. For embedded signing documents, email behavior follows each recipient's send_email setting.
      # @param id [String]
      # @param update_recipients_request [Models::UpdateRecipientsRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentResponse]
      def update_recipients(id, update_recipients_request, opts = {})
        data, _status_code, _headers = update_recipients_with_http_info(id, update_recipients_request, opts)
        data
      end

      # Update Recipients
      # Updates one or more recipients on a document that has already been sent. Only recipients who have not started signing may be updated. Recipient IDs must be retrieved from the Get Document response. Allowed document statuses: sent, viewed, pending, bounced. For non-embedded documents, updated recipients will receive a new notification email. For embedded signing documents, email behavior follows each recipient&#39;s send_email setting.
      # @param id [String]
      # @param update_recipients_request [Models::UpdateRecipientsRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentResponse, Integer, Hash)>] DocumentResponse data, response status code and response headers
      def update_recipients_with_http_info(id, update_recipients_request, opts = {})
        if @api_client.config.debugging
          @api_client.config.logger.debug 'Calling API: DocumentApi.update_recipients ...'
        end
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          fail ArgumentError, "Missing the required parameter 'id' when calling DocumentApi.update_recipients"
        end
        # verify the required parameter 'update_recipients_request' is set
        if @api_client.config.client_side_validation && update_recipients_request.nil?
          fail ArgumentError, "Missing the required parameter 'update_recipients_request' when calling DocumentApi.update_recipients"
        end
        # resource path
        local_var_path = '/api/v1/documents/{id}/recipients'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        if !content_type.nil?
          header_params['Content-Type'] = content_type
        end

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(update_recipients_request)

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          :operation => :"DocumentApi.update_recipients",
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
        )

        data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: DocumentApi#update_recipients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        return data, status_code, headers
      end
    end
  end
end
