=begin
#SignWell Developer API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1
Contact: support@signwell.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module SignWell
module Resources
  class RegionalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # MX – NOM-151 Certificate
    # Download NOM-151 certificate for a completed document. Returns a ZIP file, download URL, or raw certificate data based on query parameters.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :url_only If true, returns JSON with download URL instead of downloading the file (default to false)
    # @option opts [Boolean] :object_only  (default to false)
    # @return [Nom151UrlResponse]
    def get_nom151_certificate(id, opts = {})
      data, _status_code, _headers = get_nom151_certificate_with_http_info(id, opts)
      data
    end

    # MX – NOM-151 Certificate
    # Download NOM-151 certificate for a completed document. Returns a ZIP file, download URL, or raw certificate data based on query parameters.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :url_only If true, returns JSON with download URL instead of downloading the file (default to false)
    # @option opts [Boolean] :object_only  (default to false)
    # @return [Array<(Nom151UrlResponse, Integer, Hash)>] Nom151UrlResponse data, response status code and response headers
    def get_nom151_certificate_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RegionalApi.get_nom151_certificate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RegionalApi.get_nom151_certificate"
      end
      # resource path
      local_var_path = '/api/v1/documents/{id}/nom151_certificate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url_only'] = opts[:'url_only'] if !opts[:'url_only'].nil?
      query_params[:'object_only'] = opts[:'object_only'] if !opts[:'object_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Nom151UrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"RegionalApi.get_nom151_certificate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RegionalApi#get_nom151_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
end
