# frozen_string_literal: true

# #SignWell Developer API
#
# API for creating, managing, and tracking electronic signature workflows.
#
# The version of the OpenAPI document: v1
# Contact: support@signwell.com
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module SignWell
  module Resources
    class TemplateApi
      attr_accessor :api_client

      def initialize(api_client = ApiClient.default)
        @api_client = api_client
      end

      # Create Template
      # Creates a new template.
      # @param document_template_request [Models::DocumentTemplateRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentTemplateResponse]
      def create_template(document_template_request, opts = {})
        data, _status_code, _headers = create_template_with_http_info(document_template_request, opts)
        data
      end

      # Create Template
      # Creates a new template.
      # @param document_template_request [Models::DocumentTemplateRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentTemplateResponse, Integer, Hash)>] DocumentTemplateResponse data, response status code and response headers
      def create_template_with_http_info(document_template_request, opts = {})
        @api_client.config.logger.debug 'Calling API: TemplateApi.create_template ...' if @api_client.config.debugging
        # verify the required parameter 'document_template_request' is set
        if @api_client.config.client_side_validation && document_template_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'document_template_request' when calling TemplateApi.create_template"
        end

        # resource path
        local_var_path = '/api/v1/document_templates'

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        header_params['Content-Type'] = content_type unless content_type.nil?

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(document_template_request)

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentTemplateResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"TemplateApi.create_template",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: TemplateApi#create_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end

      # Delete Template
      # Deletes a template. Supply the unique template ID from either a Create Template request or template page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [nil]
      def delete_template(id, opts = {})
        delete_template_with_http_info(id, opts)
        nil
      end

      # Delete Template
      # Deletes a template. Supply the unique template ID from either a Create Template request or template page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
      def delete_template_with_http_info(id, opts = {})
        @api_client.config.logger.debug 'Calling API: TemplateApi.delete_template ...' if @api_client.config.debugging
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          raise ArgumentError, "Missing the required parameter 'id' when calling TemplateApi.delete_template"
        end

        # resource path
        local_var_path = '/api/v1/document_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type]

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"TemplateApi.delete_template",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: TemplateApi#delete_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end

      # Get Template
      # Returns a template and all associated template data. Supply the unique template ID from either a Create Template request or template page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentTemplateResponse]
      def get_template(id, opts = {})
        data, _status_code, _headers = get_template_with_http_info(id, opts)
        data
      end

      # Get Template
      # Returns a template and all associated template data. Supply the unique template ID from either a Create Template request or template page URL.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentTemplateResponse, Integer, Hash)>] DocumentTemplateResponse data, response status code and response headers
      def get_template_with_http_info(id, opts = {})
        @api_client.config.logger.debug 'Calling API: TemplateApi.get_template ...' if @api_client.config.debugging
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          raise ArgumentError, "Missing the required parameter 'id' when calling TemplateApi.get_template"
        end

        # resource path
        local_var_path = '/api/v1/document_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentTemplateResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"TemplateApi.get_template",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: TemplateApi#get_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end

      # Update Template
      # Updates an existing template.
      # @param id [String]
      # @param document_template_update_request [Models::DocumentTemplateUpdateRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::DocumentTemplateResponse]
      def update_template(id, document_template_update_request, opts = {})
        data, _status_code, _headers = update_template_with_http_info(id, document_template_update_request, opts)
        data
      end

      # Update Template
      # Updates an existing template.
      # @param id [String]
      # @param document_template_update_request [Models::DocumentTemplateUpdateRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::DocumentTemplateResponse, Integer, Hash)>] DocumentTemplateResponse data, response status code and response headers
      def update_template_with_http_info(id, document_template_update_request, opts = {})
        @api_client.config.logger.debug 'Calling API: TemplateApi.update_template ...' if @api_client.config.debugging
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          raise ArgumentError, "Missing the required parameter 'id' when calling TemplateApi.update_template"
        end

        # verify the required parameter 'document_template_update_request' is set
        if @api_client.config.client_side_validation && document_template_update_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'document_template_update_request' when calling TemplateApi.update_template"
        end

        # resource path
        local_var_path = '/api/v1/document_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        header_params['Content-Type'] = content_type unless content_type.nil?

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(document_template_update_request)

        # return_type
        return_type = opts[:debug_return_type] || 'DocumentTemplateResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"TemplateApi.update_template",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: TemplateApi#update_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end
    end
  end
end
