# frozen_string_literal: true

# SignWell Developer API
#
# API for creating, managing, and tracking electronic signature workflows.
#
# The version of the OpenAPI document: v1
# Contact: support@signwell.com
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module SignWell
  module Resources
    class WebhooksApi
      attr_accessor :api_client

      def initialize(api_client = ApiClient.default)
        @api_client = api_client
      end

      # Create Webhook
      # Register a callback URL that we will post document events to.
      # @param create_webhook_request [Models::CreateWebhookRequest]
      # @param [Hash] opts the optional parameters
      # @return [Models::WebhookResponse]
      def create_webhook(create_webhook_request, opts = {})
        data, _status_code, _headers = create_webhook_with_http_info(create_webhook_request, opts)
        data
      end

      # Create Webhook
      # Register a callback URL that we will post document events to.
      # @param create_webhook_request [Models::CreateWebhookRequest]
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::WebhookResponse, Integer, Hash)>] WebhookResponse data, response status code and response headers
      def create_webhook_with_http_info(create_webhook_request, opts = {})
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_webhook ...' if @api_client.config.debugging
        # verify the required parameter 'create_webhook_request' is set
        if @api_client.config.client_side_validation && create_webhook_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'create_webhook_request' when calling WebhooksApi.create_webhook"
        end

        # resource path
        local_var_path = '/api/v1/hooks'

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
        # HTTP header 'Content-Type'
        content_type = @api_client.select_header_content_type(['application/json'])
        header_params['Content-Type'] = content_type unless content_type.nil?

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_request)

        # return_type
        return_type = opts[:debug_return_type] || 'WebhookResponse'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"WebhooksApi.create_webhook",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: WebhooksApi#create_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end

      # Delete Webhook
      # Deletes a registered callback URL that we are posting document events to.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [nil]
      def delete_webhook(id, opts = {})
        delete_webhook_with_http_info(id, opts)
        nil
      end

      # Delete Webhook
      # Deletes a registered callback URL that we are posting document events to.
      # @param id [String]
      # @param [Hash] opts the optional parameters
      # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
      def delete_webhook_with_http_info(id, opts = {})
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_webhook ...' if @api_client.config.debugging
        # verify the required parameter 'id' is set
        if @api_client.config.client_side_validation && id.nil?
          raise ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.delete_webhook"
        end

        # resource path
        local_var_path = '/api/v1/hooks/{id}'.sub('{id}', CGI.escape(id.to_s))

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type]

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"WebhooksApi.delete_webhook",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: WebhooksApi#delete_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end

      # List Webhooks
      # List all the webhooks in the account.
      # @param [Hash] opts the optional parameters
      # @return [Models::Array<WebhookResponse>]
      def list_webhooks(opts = {})
        data, _status_code, _headers = list_webhooks_with_http_info(opts)
        data
      end

      # List Webhooks
      # List all the webhooks in the account.
      # @param [Hash] opts the optional parameters
      # @return [Array<(Models::Array<WebhookResponse>, Integer, Hash)>] Array<WebhookResponse> data, response status code and response headers
      def list_webhooks_with_http_info(opts = {})
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhooks ...' if @api_client.config.debugging
        # resource path
        local_var_path = '/api/v1/hooks'

        # query parameters
        query_params = opts[:query_params] || {}

        # header parameters
        header_params = opts[:header_params] || {}
        # HTTP header 'Accept' (if needed)
        header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

        # form parameters
        form_params = opts[:form_params] || {}

        # http body (model)
        post_body = opts[:debug_body]

        # return_type
        return_type = opts[:debug_return_type] || 'Array<WebhookResponse>'

        # auth_names
        auth_names = opts[:debug_auth_names] || ['api_key']

        new_options = opts.merge(
          operation: :"WebhooksApi.list_webhooks",
          header_params: header_params,
          query_params: query_params,
          form_params: form_params,
          body: post_body,
          auth_names: auth_names,
          return_type: return_type
        )

        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
        if @api_client.config.debugging
          @api_client.config.logger.debug "API called: WebhooksApi#list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
        end
        [data, status_code, headers]
      end
    end
  end
end
