name: Publish to RubyGems

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: rubygems
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.target_commitish }}

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Build gem
        run: gem build signwell_sdk.gemspec

      - name: Publish to RubyGems
        uses: rubygems/release-gem@v1
